.newsletter--form {
	display: flex;
	justify-content: center;
	align-items: self-start;

	p {
		margin: 0;
	}

	.wp-block-button__link {
		margin-left: -46px;
		position: relative;
		max-height: 3rem;

		@media (max-width: 480px) {
			max-height: 2.875rem;
		}
	}

	.footer--form & {
		.wp-block-button__link {
			background-color: var(--wp--preset--color--secondary-30) !important;
			color: var(--wp--preset--color--primary-80) !important;
		}

		p {
			margin: 0;
		}
	}
}

.wpcf7-acceptance .wpcf7-list-item {
	margin: 0;
}