:where(.wp-block-group.has-background) {
    padding: var(--wp--custom--layout--block-gap);
}

body .is-layout-flow {

    & > .wp-block-image.alignright {
        margin-inline-start: 0;
    }

    & > .wp-block-image.alignleft {
        margin-inline-end: 0;
    }

} 

.wp-site-blocks > header {
	position: sticky;
	top: 0;
	z-index: 1050;
    
    + header {
        position: relative;
        z-index: unset;
        top: unset;
    }
}

img {
	max-width: 100% !important;
}

.wp-video-shortcode {
	max-height: 80vh !important;
}

@media (min-height: 800px) {
    .wp-video-shortcode {
        max-height: 720px !important;
    }
}