<!-- wp:template-part {"slug":"header", "theme":"enfrascados", "area":"Header", "tagName":"header"} /-->

<!-- wp:template-part {"slug":"hero","theme":"enfrascados","className":"mt-0"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|40"}}}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--40)">INDEX<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"enfrascados"} /-->