<!-- wp:template-part {"slug":"top-bar","theme":"enfrascados","tagName":"section"} /-->

<!-- wp:template-part {"slug":"header","theme":"enfrascados","tagName":"","area":"Header","className":"mt-0"} /-->

<!-- wp:template-part {"slug":"hero","theme":"enfrascados","tagName":"section","className":"mt-0"} /-->

<!-- wp:template-part {"slug":"content","theme":"enfrascados","tagName":"main"} /-->

<!-- wp:template-part {"slug":"footer","theme":"enfrascados","tagName":"","area":"Footer","className":"mt-0"} /-->